<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Vue.JS tutorial part-three</title>
</head>
<body style="text-align: center;">
	<div id="app">
		<h3>In this part I just show how to work v-bind</h3>
		<hr>
		<h1 :title='title'>{{message}}</h1>
		<img :src="url" :alt="title" :title="title">
	</div>
</body>
<script src="../vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data:{
			message:'Hello Vue.JS Learner!!! Welcome to our learnig school.',
			title:"You loaded this page "+ new Date(),
			url: "http://vuejs.org/images/logo.png"
			
		} 
	})
</script>
</html>