<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Vue.JS tutorial part-seven</title>
</head>
<body>
	<div id="app" class="container">
		<h3 class="text-center">In this part I just show how to work with computed properties setter and getter methods</h3>
		<hr>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3 class="text-center"> <strong>{{fullName}}</strong></h3>
				<h3>First name: {{first}}</h3>
				<h3>Last name: {{last}}</h3>
				<hr>
				<form action="#">
					<div class="form-group">
						<label for="first">First name:</label>
						<input type="text" class="form-control" v-model="first" > <br>
					</div>
					<div class="form-group">
						<label for="last">Last name:</label>
						<input type="text" class="form-control" v-model="last" >
					</div>
					<div class="form-group">
						<label for="last">Full name:</label>
						<input type="text" class="form-control" v-model="fullName" >
					</div>
				</form>
			</div>
		</div>


	</body>
	<script src="../vue.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data:{
				message:'Welcome to vue.js school',
				first: "",
				last: "",

			},
			computed:{
				fullName: {
					get: function () {
						return this.first+" "+this.last
					},
					set: function(value){
						var fullName = value.split(" ")
						this.first = fullName[0]
						this.last = fullName[fullName.length -1]
					}
				}
			}

		})
	</script>
	</html>