<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Vue.JS tutorial part-six</title>
</head>
<body style="text-align: center;">
	<div id="app">
		<h1>In this part I just show how to work with event handeler in vue.js</h1>
		<hr>
		<h1>Visite: <a :href="url"> {{cleanUrl}}</a></h1>
         <input type="text" v-model='url'>
		<button  @click="humenizeUrl" class="btn btn-success">Humenize me!</button>
	</div>
</body>
<script src="../vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data:{
			message:'Welcome to vue.js school',
			url: "",
			cleanUrl: "",
		},
		methods:{
			humenizeUrl:function (){
				this.cleanUrl = this.url.replace(/^https?:\/\//, '').replace(/\/$/, '')
			}
		},

	})
</script>
</html>