<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Vue.js-tutorial</title>
</head>
<body style="text-align: center;">
	<div id="app">
		<h1>{{message}}</h1>
	</div>
</body>
<script src="../vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
        data:{
        	message:'Hello Vue.JS Learner!!!',
        } 
	})
</script>
</html>