<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Vue.JS tutorial part-two</title>
	<style>
		[v-cloak] {
			background-color: red;
		}
	</style>
</head>
<body style="text-align: center;">
	<div id="app">
		<h3>In this part I just show how to work v-text,v-html,v-show,v-if,v-else,v-pre,v-once,v-cloak</h3>
		<hr>
    <!-- <h1 v-if="watching">You just watching this page right now.</h1>
    <h1 v-else>You are NOT watching this page right now.</h1> -->
    <h1 v-cloak>{{message}}</h1>

</div>
</body>
<script src="../vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data:{
			message:'Hello Vue.JS Learner!!! Welcome to our learnig school.',
			title: "It's our plesare to <small>teaching you to give something special.</small>",
			watching: false,
		} 
	})
</script>
</html>