<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Vue.JS tutorial part-four</title>
</head>
<body style="text-align: center;">
	<div id="app">
		<h1>In this part I just show how to work v-for</h1>
		<hr>
		<h3>{{message}}</h3>
<ul>
	<li style="list-style-type: none" v-for="todo in todos">{{todo.id}}) {{todo.item}}</li>
	<h3>Showing something with index:</h3>
	<li style="list-style-type: none" v-for="(count,index) in count">{{index}}) {{messageOne}}</li>
</ul>
	</div>
</body>
<script src="../vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data:{
			message:'Those are todo list with id:',
			messageOne: 'Those are more option with index',
			todos:[
			{item:'like', id:1},
			{item:'share', id:2},
			{item:'comments', id:3}
			],
			count:10
			
		} 
	})
</script>
</html>