<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Vue.JS tutorial part-five</title>
</head>
<body style="text-align: center;">
	<div id="app">
		<h1>In this part I just show how to work two-way binding</h1>
		<hr>
		<h3>The message is:{{message}}</h3>
	<input type="text" class="form-control" v-model="message">
		</div>
	</body>
	<script src="../vue.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data:{
				message:'Welcome to vue.js school',	
			} 
		})
	</script>
	</html>