<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Vue.JS tutorial part-seven</title>
</head>
<body style="text-align: center;">
	<div id="app" class="container">
		<h1>In this part I just show how to work with computed properties example-1 in vue.js</h1>
		<hr>
		<div class="row text-center">
			<h3> {{fullName}}</h3>
			<h3>First name: {{first}}</h3>
			<h3>Last name: {{last}}</h3>
			<div class="row">

				<div class="col-md-4 col-md-offset-4">
					<div class="form-group">
						<label for="first">First name:</label>
						<input type="text" class="form-control" v-model="first" > <br>
					</div>
					<div class="form-group">
						<label for="last">Last name:</label>
						<input type="text" class="form-control" v-model="last" >
					</div>
				</div>
			</div>

		</div>
	</body>
	<script src="../vue.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data:{
				message:'Welcome to vue.js school',
				first: "",
				last: "",

			},
			computed:{
				fullName: function () {
					return this.first+" "+this.last
				}
			}

		})
	</script>
	</html>