<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Vue.JS tutorial part-seven</title>
</head>
<body style="text-align: center;">
	<div id="app" class="container">
		<h3>In this part I just show how to work with computed properties example-2 in vue.js</h3>
		<hr>
		<div class="row text-center">
			<div class="col-md-6 col-md-offset-3">
				<h1>You are a: <strong> {{level}}</strong></h1>
				<h1>Current xp: <strong>{{xp}}</strong></h1>
				<div class="col-md-6">
					<button @click='addXp' class="btn btn-success btn-block">Add xp</button>		

				</div>
				<div class="col-md-6">
					<button @click="decricseXp" class="btn btn-primary btn-block">Decrese xp</button>		

				</div>
			</div>
		</div>
	</body>
	<script src="../vue.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data:{
				message:'Welcome to vue.js school',
				xp: 10

			},
			methods:{
				addXp: function(){
					return this.xp +=10
				},
				decricseXp: function(){
					return this.xp -=10
				}
			},
			computed:{
				level: function (){
					if (this.xp >=200) {
						return "Pro"
					}
					else if (this.xp >=100) {
						return "Intermediate"
					}
					else if (this.xp >=0) {
						return "Beginner"
					}
					else {
						return "Banned"
					}
				}
			}

		})
	</script>
	</html>